# Jupyter Book build output
_build/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

.claude/

# oplossingen
examen_vragen_algebra_oplossingen.ipynb
examen_vragen_analyse_oplossingen.ipynb
examen_vragen_statistiek_oplossingen.ipynb